<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>com.facebook.iokit.$(PRODUCT_NAME:rfc1034identifier)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>KEXT</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>OSBundleRequired</key>
  <string>Console</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>IOKitPersonalities</key>
  <dict>
    <key>osquery</key>
    <dict>
      <key>IOResourceMatch</key>
      <string>IOKit</string>
      <key>IOUserClientClass</key>
      <string>com_facebook_iokit_osqueryUserClient</string>
      <key>IOProviderClass</key>
      <string>IOResources</string>
      <key>IOMatchCategory</key>
      <string>com_facebook_iokit_osquery</string>
      <key>IOClass</key>
      <string>com_facebook_iokit_osquery</string>
      <key>CFBundleIdentifier</key>
      <string>com.facebook.iokit.${PRODUCT_NAME:rfc1034identifier}</string>
    </dict>
  </dict>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2015, Facebook, Inc.</string>
  <key>OSBundleLibraries</key>
  <dict>
    <key>com.apple.kpi.bsd</key>
    <string>14.3</string>
    <key>com.apple.kpi.iokit</key>
    <string>14.3</string>
    <key>com.apple.kpi.libkern</key>
    <string>14.3</string>
    <key>com.apple.kpi.mach</key>
    <string>14.3</string>
  </dict>
</dict>
</plist>
