# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pkg

# Build Artifacts
.provision
build/

# Run Artifacts
*.log
*.orig

# Vagrant Artifacts
.vagrant
.sources

# OS artifacts
.DS_Store

# CLion IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/dictionaries
.idea/codeStyleSettings.xml

# Doxygen Documentation
doxygen/html
doxygen/latex

# Editors
*~
\#*\#
*.swp
