[submodule "libraries/cmake/source/bzip2/src"]
	path = libraries/cmake/source/bzip2/src
	url = https://github.com/osquery/third-party-bzip2
[submodule "libraries/cmake/source/libarchive/src"]
	path = libraries/cmake/source/libarchive/src
	url = https://github.com/libarchive/libarchive
[submodule "libraries/cmake/source/libmagic/src"]
	path = libraries/cmake/source/libmagic/src
	url = https://github.com/file/file
[submodule "libraries/cmake/source/libudev/src"]
	path = libraries/cmake/source/libudev/src
	url = https://github.com/systemd/systemd
[submodule "libraries/cmake/source/libxml2/src"]
	path = libraries/cmake/source/libxml2/src
	url = https://github.com/GNOME/libxml2
[submodule "libraries/cmake/source/linenoise-ng/src"]
	path = libraries/cmake/source/linenoise-ng/src
	url = https://github.com/arangodb/linenoise-ng
[submodule "libraries/cmake/source/lzma/src"]
	path = libraries/cmake/source/lzma/src
	url = https://github.com/xz-mirror/xz
[submodule "libraries/cmake/source/rapidjson/src"]
	path = libraries/cmake/source/rapidjson/src
	url = https://github.com/Tencent/rapidjson
[submodule "libraries/cmake/source/rocksdb/src"]
	path = libraries/cmake/source/rocksdb/src
	url = https://github.com/facebook/rocksdb
[submodule "libraries/cmake/source/sleuthkit/src"]
	path = libraries/cmake/source/sleuthkit/src
	url = https://github.com/sleuthkit/sleuthkit
[submodule "libraries/cmake/source/sqlite/src"]
	path = libraries/cmake/source/sqlite/src
	url = https://github.com/osquery/third-party-sqlite
[submodule "libraries/cmake/source/thrift/src"]
	path = libraries/cmake/source/thrift/src
	url = https://github.com/apache/thrift
[submodule "libraries/cmake/source/util-linux/src"]
	path = libraries/cmake/source/util-linux/src
	url = https://git.kernel.org/pub/scm/utils/util-linux/util-linux
[submodule "libraries/cmake/source/yara/src"]
	path = libraries/cmake/source/yara/src
	url = https://github.com/VirusTotal/yara
[submodule "libraries/cmake/source/zlib/src"]
	path = libraries/cmake/source/zlib/src
	url = https://github.com/madler/zlib
[submodule "libraries/cmake/source/zstd/src"]
	path = libraries/cmake/source/zstd/src
	url = https://github.com/facebook/zstd
[submodule "libraries/cmake/source/augeas/src"]
	path = libraries/cmake/source/augeas/src
	url = https://github.com/hercules-team/augeas
[submodule "libraries/cmake/source/librpm/src"]
	path = libraries/cmake/source/librpm/src
	url = https://github.com/rpm-software-management/rpm
[submodule "libraries/cmake/source/popt/src"]
	path = libraries/cmake/source/popt/src
	url = https://github.com/rpm-software-management/popt.git
[submodule "libraries/cmake/source/libdpkg/src"]
	path = libraries/cmake/source/libdpkg/src
	url = https://github.com/osquery/third-party-libdpkg
[submodule "libraries/cmake/source/libaudit/src"]
	path = libraries/cmake/source/libaudit/src
	url = https://github.com/linux-audit/audit-userspace
[submodule "libraries/cmake/source/libgcrypt/src"]
	path = libraries/cmake/source/libgcrypt/src
	url = https://github.com/osquery/third-party-libgcrypt.git
[submodule "libraries/cmake/source/libgpg-error/src"]
	path = libraries/cmake/source/libgpg-error/src
	url = https://github.com/osquery/third-party-libgpg-error.git
[submodule "libraries/cmake/source/libcryptsetup/src"]
	path = libraries/cmake/source/libcryptsetup/src
	url = https://gitlab.com/cryptsetup/cryptsetup.git
[submodule "libraries/cmake/source/libdevmapper/src"]
	path = libraries/cmake/source/libdevmapper/src
	url = https://github.com/lvmteam/lvm2
[submodule "libraries/cmake/source/libiptables/src"]
	path = libraries/cmake/source/libiptables/src
	url = https://github.com/osquery/third-party-iptables
[submodule "libraries/cmake/source/librdkafka/src"]
	path = libraries/cmake/source/librdkafka/src
	url = https://github.com/edenhill/librdkafka
[submodule "libraries/cmake/source/googletest/src"]
	path = libraries/cmake/source/googletest/src
	url = https://github.com/google/googletest
[submodule "libraries/cmake/source/glog/src"]
	path = libraries/cmake/source/glog/src
	url = https://github.com/google/glog
[submodule "libraries/cmake/source/gflags/src"]
	path = libraries/cmake/source/gflags/src
	url = https://github.com/gflags/gflags
[submodule "libraries/cmake/source/boost/src"]
	path = libraries/cmake/source/boost/src
	url = https://github.com/boostorg/boost
[submodule "libraries/cmake/source/augeas/gnulib/src"]
	path = libraries/cmake/source/augeas/gnulib/src
	url = https://github.com/osquery/third-party-gnulib
[submodule "libraries/cmake/source/ebpfpub/src"]
	path = libraries/cmake/source/ebpfpub/src
	url = https://github.com/trailofbits/ebpfpub
[submodule "libraries/cmake/source/dbus/src"]
	path = libraries/cmake/source/dbus/src
	url = https://gitlab.freedesktop.org/dbus/dbus.git
[submodule "libraries/cmake/source/expat/src"]
	path = libraries/cmake/source/expat/src
	url = https://github.com/libexpat/libexpat
[submodule "libraries/cmake/source/libcap/src"]
	path = libraries/cmake/source/libcap/src
	url = https://kernel.googlesource.com/pub/scm/libs/libcap/libcap.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-crt-cpp"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-crt-cpp
	url = https://github.com/awslabs/aws-crt-cpp.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-auth"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-auth
	url = https://github.com/awslabs/aws-c-auth.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-cal"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-cal
	url = https://github.com/awslabs/aws-c-cal.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-common"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-common
	url = https://github.com/awslabs/aws-c-common.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-compression"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-compression
	url = https://github.com/awslabs/aws-c-compression.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-event-stream"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-event-stream
	url = https://github.com/awslabs/aws-c-event-stream.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-http"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-http
	url = https://github.com/awslabs/aws-c-http.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-io"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-io
	url = https://github.com/awslabs/aws-c-io.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-mqtt"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-mqtt
	url = https://github.com/awslabs/aws-c-mqtt.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-c-s3"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-c-s3
	url = https://github.com/awslabs/aws-c-s3.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-checksums"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-checksums
	url = https://github.com/awslabs/aws-checksums.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-lc"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-lc
	url = https://github.com/awslabs/aws-lc.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/s2n"]
	path = libraries/cmake/source/aws-sdk-cpp/src/s2n
	url = https://github.com/awslabs/s2n.git
[submodule "libraries/cmake/source/aws-sdk-cpp/src/aws-sdk-cpp"]
	path = libraries/cmake/source/aws-sdk-cpp/src/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
[submodule "libraries/cmake/source/krabsetw/src"]
	path = libraries/cmake/source/krabsetw/src
	url = https://github.com/microsoft/krabsetw.git
