# Osquery Codeowners
# Documented at https://help.github.com/en/articles/about-code-owners
#
# Order is important; the last matching pattern takes the most
# precedence.

# General write access
* @osquery/osquery-committers @osquery/technical-steering-committee

.github/workflows @osquery/osquery-build-wardens

# As CODEOWNERS is last match oriented, we restrict slightly more
# sensitive files here.
CODEOWNERS		@osquery/technical-steering-committee
