{
  // New, recommended query schedule
  "schedule": {
    "time2": {"query": "select * from time;", "interval": 1}
  },

  // Deprecated collection for file monitoring
  "additional_monitoring" : {
    "file_paths": {
      "downloads": [
        "/tmp/osquery-tests/fstree/%%"
      ]
    }
  },

  // New, recommended file monitoring (top-level)
  "file_paths": {
    "downloads2": [
      "/tmp/osquery-tests/fstree/%%"
    ],
    "system_binaries": [
      "/tmp/osquery-tests/fstree/%",
      "/tmp/osquery-tests/fstree/deep11/%"
    ]
  },

  // Add files containing packs of queries.
  // The queries may have platform and version requirements.
  "packs": {
    "test_pack": {
      "queries": {}
    }
  },
  // New top level key for the ATC system
  "auto_table_construction" : {
    "test_atc" : {
      "query" : "SELECT * FROM test_table",
      "path" : "test_atc_db.db",
      "columns" : ["a_number", "some_test", "a_float"]
    }
  }
}
