{
  // Deprecated query schedule
  "scheduledQueries": [
    {
      "name": "time",
      "query": "select * from time;",
      "interval": 1
    }
  ],

  // New, recommended query schedule
  "schedule": {
    "time2": {"query": "select * from time;", "interval": 1}
  },

  // Deprecated collection for file monitoring
  "additional_monitoring" : {
    "file_paths": {
      "downloads": [
        "/tmp/osquery-tests/fstests-pattern/%%"
      ]
    }
  },

  // New, recommended file monitoring (top-level)
  "file_paths": {
    "downloads2": [
      "/tmp/osquery-tests/fstests-pattern/%%"
    ],
    "system_binaries": [
      "/tmp/osquery-tests/fstests-pattern/%",
      "/tmp/osquery-tests/fstests-pattern/deep11/%"
    ]
  },

  // Add files containing packs of queries.
  // The queries may have platform and version requirements.
  "packs": {
    "test_pack": "/tmp/osquery-tests/test_pack.conf"
  }
}
