{
  "scheduledQueries": [
    {
      "name": "time",
      "query": "select * from time;",
      "interval": 1
    }
  ],
  "additional_monitoring" : {
    "file_paths": {
      "downloads": [
        "/tmp/osquery-fstests-pattern/%%"
      ],
      "system_binaries": [
        "/tmp/osquery-fstests-pattern/%",
        "/tmp/osquery-fstests-pattern/deep11/%"
      ]
    }
  }
}
