@font-face {
  font-family: 'custom-icons';
  src: url('../fonts/custom-icons.eot');
  src: url('../fonts/custom-icons.eot?#iefix') format("embedded-opentype"), url('../fonts/custom-icons.ttf') format("truetype"), url('../fonts/custom-icons.woff') format("woff"), url('../fonts/custom-icons.svg#custom-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="ci-"], [class*=" ci-"] {
  font-family: 'custom-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ci-mail3:before {
  content: "\e602";
}

.ci-tux:before {
  content: "\e605";
}

.ci-apple:before {
  content: "\e606";
}

.ci-android:before {
  content: "\e607";
}

.ci-windows:before {
  content: "\e608";
}

.ci-windows8:before {
  content: "\e609";
}

.ci-chrome:before {
  content: "\e60a";
}

.ci-firefox:before {
  content: "\e60b";
}

.ci-IE:before {
  content: "\e60c";
}

.ci-opera:before {
  content: "\e60d";
}

.ci-safari:before {
  content: "\e60e";
}

.ci-IcoMoon:before {
  content: "\e60f";
}

.ci-drawer:before {
  content: "\e600";
}

.ci-address-book:before {
  content: "\e601";
}

.ci-envelope:before {
  content: "\e603";
}

.ci-screen:before {
  content: "\e604";
}

.ci-laptop:before {
  content: "\e616";
}

.ci-mobile:before {
  content: "\e617";
}

.ci-mobile2:before {
  content: "\e618";
}

.ci-tablet:before {
  content: "\e619";
}

.ci-tv:before {
  content: "\e61a";
}

.ci-key:before {
  content: "\e61b";
}

.ci-twitter:before {
  content: "\e61c";
}

.ci-facebook:before {
  content: "\e61d";
}

.ci-finder:before {
  content: "\e61e";
}

.ci-feed:before {
  content: "\e61f";
}

.ci-google-plus:before {
  content: "\e620";
}

.ci-yahoo:before {
  content: "\e621";
}

.ci-google:before {
  content: "\e622";
}

.ci-thunderbird:before {
  content: "\e610";
}

.ci-osx-mail:before {
  content: "\e611";
}

.ci-office-2010:before {
  content: "\e612";
}

.ci-live-mail:before {
  content: "\e613";
}

.ci-office-2007:before {
  content: "\e614";
}

.ci-outlook-metro:before {
  content: "\e615";
}

.ci-uniE00A:before {
  content: "\e00a";
}

.ci-chrome-solid:before {
  content: "\e025";
}

.ci-ff-old:before {
  content: "\e022";
}

.ci-yahoo-single:before {
  content: "\e01e";
}

.ci-gmail-o:before {
  content: "\e01b";
}

.ci-gmail:before {
  content: "\e01c";
}

.ci-fedora:before {
  content: "\e017";
}

.ci-redhat:before {
  content: "\e016";
}

.ci-centos:before {
  content: "\e015";
}

.ci-debian:before {
  content: "\e014";
}

.ci-ubuntu:before {
  content: "\e013";
}

.ci-apple-old:before {
  content: "\e004";
}