<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>allowsignedenabled</key>
  <integer>1</integer>
  <key>applications</key>
  <array/>
  <key>exceptions</key>
  <array>
    <dict>
      <key>path</key>
      <string>/usr/libexec/configd</string>
      <key>state</key>
      <integer>3</integer>
    </dict>
    <dict>
      <key>path</key>
      <string>/usr/sbin/mDNSResponder</string>
      <key>state</key>
      <integer>3</integer>
    </dict>
    <dict>
      <key>path</key>
      <string>/usr/sbin/racoon</string>
      <key>state</key>
      <integer>3</integer>
    </dict>
    <dict>
      <key>path</key>
      <string>/usr/bin/nmblookup</string>
      <key>state</key>
      <integer>3</integer>
    </dict>
    <dict>
      <key>path</key>
      <string>/System/Library/PrivateFrameworks/Admin.framework/Versions/A/Resources/readconfig</string>
      <key>state</key>
      <integer>3</integer>
    </dict>
  </array>
  <key>explicitauths</key>
  <array>
    <dict>
      <key>id</key>
      <string>org.python.python.app</string>
    </dict>
    <dict>
      <key>id</key>
      <string>com.apple.ruby</string>
    </dict>
    <dict>
      <key>id</key>
      <string>com.apple.a2p</string>
    </dict>
    <dict>
      <key>id</key>
      <string>com.apple.javajdk16.cmd</string>
    </dict>
    <dict>
      <key>id</key>
      <string>com.apple.php</string>
    </dict>
    <dict>
      <key>id</key>
      <string>com.apple.nc</string>
    </dict>
    <dict>
      <key>id</key>
      <string>com.apple.ksh</string>
    </dict>
  </array>
  <key>firewall</key>
  <dict>
    <key>Apple Remote Desktop</key>
    <dict>
      <key>proc</key>
      <string>AppleVNCServer</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>FTP Access</key>
    <dict>
      <key>proc</key>
      <string>ftpd</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>ODSAgent</key>
    <dict>
      <key>proc</key>
      <string>ODSAgent</string>
      <key>servicebundleid</key>
      <string>com.apple.ODSAgent</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>Personal File Sharing</key>
    <dict>
      <key>proc</key>
      <string>AppleFileServer</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>Personal Web Sharing</key>
    <dict>
      <key>proc</key>
      <string>httpd</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>Printer Sharing</key>
    <dict>
      <key>proc</key>
      <string>cupsd</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>Remote Apple Events</key>
    <dict>
      <key>proc</key>
      <string>AEServer</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>Remote Login - SSH</key>
    <dict>
      <key>proc</key>
      <string>sshd-keygen-wrapper</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
    <key>Samba Sharing</key>
    <dict>
      <key>proc</key>
      <string>smbd</string>
      <key>state</key>
      <integer>0</integer>
    </dict>
  </dict>
  <key>firewallunload</key>
  <integer>0</integer>
  <key>globalstate</key>
  <integer>0</integer>
  <key>loggingenabled</key>
  <integer>0</integer>
  <key>loggingoption</key>
  <integer>0</integer>
  <key>stealthenabled</key>
  <integer>0</integer>
  <key>version</key>
  <string>1.0a25</string>
</dict>
</plist>
