<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Counter</key>
	<integer>2</integer>
	<key>KnownNetworks</key>
	<dict>
		<key>wifi.ssid.&lt;47f70e38 5cd1d54b 69&gt;</key>
		<dict>
			<key>AddedBy</key>
			<integer>2</integer>
			<key>BSSIDList</key>
			<array>
				<dict>
					<key>LEAKY_AP_BSSID</key>
					<string>14:ed:bb:34:cd:32</string>
					<key>LEAKY_AP_LEARNED_DATA</key>
					<data>
					</data>
				</dict>
			</array>
			<key>Captive</key>
			<true/>
			<key>CaptiveBypass</key>
			<false/>
			<key>ChannelHistory</key>
			<array>
				<dict>
					<key>Channel</key>
					<integer>161</integer>
					<key>Timestamp</key>
					<date>2015-07-20T23:28:03Z</date>
				</dict>
			</array>
			<key>CollocatedGroup</key>
			<array/>
			<key>Disabled</key>
			<false/>
			<key>HiddenNetwork</key>
			<false/>
			<key>LastAutoJoinAt</key>
			<date>2015-07-20T23:28:03Z</date>
			<key>NetworkWasCaptive</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PersonalHotspot</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>RoamingProfileType</key>
			<string>None</string>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			helloWOrld=
			</data>
			<key>SSIDString</key>
			<string>WhyFi</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>ShareMode</key>
			<integer>3</integer>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
			<key>UserRole</key>
			<integer>1</integer>
		</dict>
		<key>wifi.ssid.&lt;06fa78ca 7a47b05e b61d74cc 2e9e6622&gt;</key>
		<dict>
			<key>AddedBy</key>
			<integer>2</integer>
			<key>BSSIDList</key>
			<array>
				<dict>
					<key>LEAKY_AP_BSSID</key>
					<string>14:ed:bb:34:cd:32</string>
					<key>LEAKY_AP_LEARNED_DATA</key>
					<data>
					</data>
				</dict>
			</array>
			<key>Captive</key>
			<false/>
			<key>CaptiveBypass</key>
			<false/>
			<key>ChannelHistory</key>
			<array>
				<dict>
					<key>Channel</key>
					<integer>11</integer>
					<key>Timestamp</key>
					<date>2014-12-29T08:56:02Z</date>
				</dict>
			</array>
			<key>CollocatedGroup</key>
			<array/>
			<key>Disabled</key>
			<false/>
			<key>HiddenNetwork</key>
			<false/>
			<key>LastAutoJoinAt</key>
			<date>2014-12-29T08:56:01Z</date>
			<key>NetworkWasCaptive</key>
			<false/>
			<key>Passpoint</key>
			<false/>
			<key>PersonalHotspot</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>RoamingProfileType</key>
			<string>Single</string>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			KJDSKDSHAKD
			</data>
			<key>SSIDString</key>
			<string>High-Fi</string>
			<key>SecurityType</key>
			<string>WPA2 Personal</string>
			<key>ShareMode</key>
			<integer>3</integer>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
			<key>UserRole</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>2600</integer>
</dict>
</plist>
