<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Disabled</key>
	<false/>
	<key>OnDemand</key>
	<false/>
	<key>Label</key>
	<string>com.facebook.osqueryd</string>
	<key>ProgramArguments</key>
	<array>
    <string>/usr/local/bin/osqueryd</string>
    <string>--flagfile=/var/osquery/osquery.flagfile</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
